@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inline Code Block */
/* code {
    padding: 4px;
    font-weight: 600;
    color: rgb(0 0 0 / 0.8);
    background-color: rgb(0 0 0 / 0.06);
} */

@layer base {
    a,
    input,
    button {
        @apply outline-none focus-visible:ring-2 dark:focus:ring-ascent-1/50 focus-visible:ring-zinc-400;
    }
    code {
        @apply p-1 font-semibold text-gray-900 bg-zinc-200 dark:text-ascent-1 dark:bg-secondary-2 rounded-md;
    }
}

body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

/* markdown image */
.image {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
        drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    border-radius: 10px;
    border: 1px solid #dddddd;
}

/* on Outline Click */
h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin: 4rem;
}

/* Codemirror */
.cm-scroller {
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier,
        monospace !important;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }