@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}
